@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

.faq {
    font-family: 'Archivo', sans-serif;
    padding: 2.5%;
    color: black;
    background-color: #FAFAFA;
}

.faq-header {
    font-size: 2.5em;
    font-weight: bold;
    padding: 0 0 2.5% 2.5%;
}

.faq-container {
    display: flex;
    flex-direction: row;
}

.faq-nav {
    position: sticky;
    top: 2.5%;
    flex: 1 0 0;
    align-self: flex-start;
    margin-left: 2.5%;
}

.faq-content {
    flex: 6 0 0;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.faq-section {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #DFE9EC;
}

.faq-section-title {
    font-size: 1.25em;
    margin-bottom: 5px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-item {
    margin-bottom: 5px;
}

.faq-item[area-expanded="true"] {
    background-color: red;
}
