.referral {
    width: 50%;
    max-width: 1000px;
    margin: auto;
}

.referral-tagline {
    color: #304741;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2.2vw;
    text-align: center;
}

.referral-socialMedia {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgrey;
    padding-top: 30px;
}

.referral-socialMedia-sec:nth-child(2) {
    padding-left: 40px;
}

.referral-socialMedia-button {
    font-size: 1.25em;
    display: flex;
}

.referral-socialMedia-platform {
    padding-left: 10px;
}

.referral-email {
    padding: 20px;
}
