::selection {
  background: #cccbb9;
}

body {
  color: #fff;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
  opacity: 0.4;
  transition: 0.5s;
}

a:visited {
  color: white;
}

.cover {
  background-size: cover;
}

/* nav bar */
.mobile-nav {
  display: none;
}

.web-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  background-color: #8cc9ba;
  font-family: 'Montserrat', sans-serif;
}

.web-nav-f {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: white;
}

nav {
  font-size: 1.2rem;
  font-weight: 700;
  width: 100vw;
}

nav #logo {
  height: 7vw;
  align-items: center;
  margin-left: 0.5vw;
}

nav #logo:hover {
  opacity: 0.8;
  transition: 0.5s;
}

nav ul {
  display: flex;
  align-items: center;
  padding: 1vw;
  color: #FFF;
  margin-right: 1vw;
}

nav ul li {
  padding-left: 1.4vw;
}

nav ul li .donate {
  border: 1px solid #304741;
  border-radius: 0.85vw;
  padding: 0.5vw;
  background-color: #304741;
  color: white;
}

nav ul li .donate:hover {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

@media only screen and (max-width: 900px) {
  nav {
    font-size: 0.9rem;
  }

  nav #logo {
    height: 7vw;
  }
}

@media only screen and (max-width: 640px) {
  nav {
    font-size: 2rem;
    z-index: 4;
  }

  nav #logo {
    height: 18vw;
    align-items: center;
    margin-left: 2vw;
  }

  nav #logo:hover {
    opacity: 0.7;
    transition: 0.5s;
  }

  nav ul {
    display: flex;
    align-items: center;
    margin-right: 3vw;
    color: #FFF;
  }

  nav ul li {
    padding: 0;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .web-nav {
    display: none;
    z-index: 2;
    width: 100vw;
  }

  .web-nav-f {
    display: none;
    z-index: 2;
  }

  input[type=checkbox] {
    position: absolute;
    display: none;
    top: -9999px;
    left: -9999px;
  }

  label {
    cursor: pointer;
  }

  .mobile-popup-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    right: 150vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity: 0;
    align-items: center;
    transition-duration: 0.9s;
    background-color: #8cc9ba;
  }

  .toggle-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 8vw;
    border-bottom: 0.02vh solid rgba(255, 255, 255, 0.7);
    padding: 1.5vh;
  }

  .toggle-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .toggle-links ul {
    display: flex;
    flex-direction: column;
    font-size: 6vw;
  }

  .toggle-links a:hover {
    text-decoration: none;
  }

  input[type=checkbox]:checked~.mobile-popup-menu {
    right: 0;
    top: 0;
    opacity: 1;
  }
}

section,
footer {
  padding: 0 5%;
}

/* body container content */
.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 0;
  background-color: #8cc9ba;
  flex-direction: row;
  height:100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  z-index: 0;
  background-color: #dfedc5;
  color: #304741
}

.form-box {
  margin-top: -15vh;
}

.content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-text-box {}

.picture-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.css-button-rounded {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight:500;
  display: block;
  padding: 2.5vw 3vw;
  margin: 2vw;
  text-align: center;
  text-decoration: none;
  border-radius: 2vw;
  /* the rounded corners are here */
  -webkit-border-radius: 1.3vw;
  -moz-border-radius: 1.3vw;
  -ms-border-radius: 1.3vw;
  -o-border-radius: 1.3vw;
}

.css-button-rounded-1 {
  background: #fd8e7b;
}

.css-button-rounded-1:hover {
  background: #c5d7bf;
  opacity:100%;
}

.css-button-rounded-2 {
  background: #e2bf3c;
}

.css-button-rounded-2:hover {
  background: #c5d7bf;
  opacity:100%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 4.2rem;
}

.maintext {
  color: white;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.tagtext {
  color: white;
  width:80%;
}

@media screen and (max-width:700px) {

  .main-container {

  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3rem;
  }

  .maintext {
    text-align: center;
    font-weight: 800;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
  }

  .tagtext {
    font-size: 4.2vw;
  }

  .main-container {
    flex-direction: column;
  }

  .css-button-rounded {
    font-size: 1.2rem;
    padding: 4.5vw 5vw;
    margin:4vw;
  }
}

/* section 1: how does it work */
.how {
  background-color: white;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top:6vw;
}

.how-text {
  color: #304741;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 3vw;
}

iframe {
  width: 70%;
  height: 30vw;
}

.who-hover:hover {
  opacity: 100%;
}

.secondhow-text {
  color: #304741;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 2.2vw;
  padding-top: 5vh;
}

.who-text-box {
  font-size: 1.2rem;
  font-weight: 300;
  color: black;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.who-text-box b {
  color: #304741
}

.who-text{
  width:67%;
}

.ct-text-box {
  display: flex;
  flex-direction: column;
  font-size: 1.35vw;
  font-weight: 300;
  color: black;
  align-items: center;
}

.ct-text-box b {
  color: #304741
}

.comp-text-box {
  flex-direction: column;
  align-items: center;
  font-size: 1.35vw;
  font-weight: 300;
  color: black;
  display: flex;
}

.comp-text-box b {
  color: #304741
}

.comp-text-box {
}

.who {
  margin-top: 10vh;
}

.meet-box {
  font-size: 1.35vw;
  font-weight: 300;
  color: black;
  display: flex;
}

.image-box {
  width: 30%;
}

.image-box img {
  width: 35vw;
}

.meet-text-box b {
  color: #304741;
}

.meet-text-box {
  margin: 0 0 0 20%;
  font-size: 1.2rem;
}

.meet-text-box h3 {
  font-weight: 800;
  font-size: 3vw;
  color: #304741;
  display: flex;

}

.thank-you {
}


@media screen and (max-width:700px) {

  iframe {
    width: 100%;
    height: 80vw;
  }

  .who-text{
    width:100%;
  }

  .how-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 6vw;
  }

  .secondhow-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 5vw;
    padding-top: 5vh;
  }

  .who-text-box {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 300;
    color: black;
  }

  .who-text-box b {
    color: #304741
  }


  .thank-you {
  }

  .ct-text-box h3 {
    font-size: 1rem;
    text-align: center;
  }

  .meet-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-box {
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .image-box img {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .meet-text-box {
    margin-left: auto;
    margin-right: auto;
  }

  .meet-text-box h3 {
    font-size: 6vw;
  }

}

@media screen and (min-width:700px) {
  .content-box {
    width: 60%;
  }
}

.how-text-box {
  font-size: 1.3vw;
  font-weight: 300;
  color: white;
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.how-text-box b {
  color: white;
}

/** involved **/
.xop-section {
  font-weight: normal;
  font-size: 1.1vw;
  max-width: 100%;
  margin-top: -1.6vw;
}

.xop-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.xop-container {
  display: flex;
  margin: 2% 0;
}

.xop-actionBox-1 {
  color: #304741;
  padding: 2vw;
  margin: 2%;
  background-color: #c5d7bf;
  font-size:1rem;

}

.xop-actionBox-2 {
  color: #304741;
  padding: 2vw;
  margin: 2%;
  background-color: #f2d259;
  font-size:1rem;

}

.xop-actionBox-3 {
  color: #304741;
  padding: 2vw;
  margin: 2%;
  background-color: #fa9b8b;
  font-size:1rem;

}

@media screen and (max-width:700px) {
  .xop-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .xop-heading {
    font-size: 2.5vh;
    font-weight: 600;
    margin: 1% 0;
  }

  .xop-actionBox-1 {
    padding: 3vw;
    margin: 2%;
    font-size: 3.4vw;
  }

  .xop-actionBox-2 {
    padding: 3vw;
    margin: 2%;
    font-size: 3.4vw;

  }

  .xop-actionBox-3 {
    padding: 3vw;
    margin: 2%;
    font-size: 3.4vw;
  }
}

.xop-heading {
  font-size: 1.7em;
  font-weight: 600;
  margin: 1% 0;
}

.xop-text {
  padding: 3% 0;
  line-height: 1.4;
}

.xop-btn-1 {
  background: #fff;
  border: none;
  padding: 5%;
  width: 100%;
  color: #ae6559;
  font-size: 1em;
  font-weight: 600;
  margin-top: 2vh;
  border-radius: 5px;
}

.xop-btn-1:hover {
  background: #ae6559;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

.xop-btn-2 {
  background: #fff;
  border: none;
  padding: 5%;
  width: 100%;
  color: #ae6559;
  font-size: 1em;
  font-weight: 600;
  margin-top: 2vh;
  border-radius: 5px;
}

.xop-btn-2:hover {
  background: #ae6559;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

@media screen and (max-width:700px) {
  .xop-btn-2 {
    border: none;
    padding: 2%;
    width: 100%;
    font-size: 3vw;
    font-weight: 600;
    margin-top: 1vh;
    border-radius: 5px;
  }

  .xop-btn-2:hover {
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }

}

.xop-btn-3 {
  background: #fff;
  border: none;
  padding: 5%;
  width: 100%;
  color: #d85f75;
  font-size: 1em;
  font-weight: 600;
  margin-top: 2vh;
  border-radius: 5px;
}

.xop-btn-3:hover {
  background: #68bbe2;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

/* section 2 */
.help {
  width: 100%;
  background: white;
  background-color: white;
  font-family: inherit;
  padding-top: 2%;
  padding-bottom: 6vh;
}

/* section 3 */
.faq {
  width: 100%;
  background: white;
  background-color: white;
  font-family: inherit;
  padding-top: 2%;
  padding-bottom: 6vh;
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 4rem;
  }

  .subtext {
    margin-top: -3vw;
    font-weight: 400;
    font-size: 4vw;
    margin-bottom: 0vw;
  }

  input {
    border: none;
    border-bottom: 2px dotted white;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5vw;
    text-align: center;
    color: #d6d0b3;
    width: 70%;
  }

  .extra-text {
    font-size: 1.7vw;
    margin-top: 1vw;
  }
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer #logo {
  align-items: center;
  font-size: 15px;
  color: #999999;
}

footer #logo:hover {
  opacity: 0.4;
  transition: 0.7s;
}

footer ul {
  display: flex;
  align-items: center;
  padding: 1vw;
  color: #FFF;
  font-size: 30px;
}

footer ul li {
  padding-right: 1.4vw;
}
